@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

:root {
  --color-primary: #fff;
  --color-second: #fff;
  --main-color: #00ffee;
  --background-color: #00ffee;
  --background2-color: rgba(255, 255, 255, 0.1);
  --bg-color: #090a0f;
  color: #f1ebeb;

  --github-background: none;
  --linkedin-background: none;
  --cv-background: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Oxygen", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.dark-mode {
  background-color: #f0ead2;
  color: #090a0f;
  --color-primary: #090a0f;
  --color-second: #090a0f;
  --bg-color: #f0ead2;
  --main-color: #f77f00;
  --background-color: #f77f00;
  --background2-color: rgba(255, 216, 107, 0.479);

  --github-background: #6c757d;
  --linkedin-background: #2374c4;
  --cv-background: #23c483;
  /* background-color: #090a0f;
  --color-primary: #fff;
  --color-second: #fff;
  --main-color: #00ffee;
  --background-color: #00ffee;
  --background2-color: rgba(255, 255, 255, 0.1);
  --bg-color: #090a0f;
  color: #f1ebeb;

  --github-background: none;
  --linkedin-background: none;
  --cv-background: none; */
}

body {
  background-color: #090a0f;/*#f0ead2*/
}

.nav {
  background-color: var(--background2-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  transition: all 0.5s ease;
  position: fixed;
  height: 55px;
  width: 100%;
}

.img {
  display: flex;
  align-items: center;
}

.imagen-perfil {
  height: 40px;
  width: 40px;
  border-radius: 25px;
}

.nav-links li a {
  text-decoration: none;
  animation: tracking-in-expand-forward-top 0.4s linear both;
}
@keyframes tracking-in-expand-forward-top {
  0% {
    letter-spacing: -0.2em;
    transform: translateZ(-700px) translateY(-100px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

.nav-links {
  list-style-type: none; /*Esto elimina el punto*/
  margin-left: 10%;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  border-radius: 4px;
  color: var(--color-primary);
  text-decoration: none;
  font-weight: bold;
  transition: all 0.5s ease;
}

.nav-links li a:hover {
  background-color: var(--background-color);
  box-shadow: 0 0 10px var(--background-color), 0 0 20px var(--background-color),
    0 0 20px var(--background-color);
  color: #434343;
}

.dynamic {
  margin-right: 10%;
  display: grid;
  place-items: center;
}

/*--------Boton-Modo-Dark------------*/
.toggle-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.toggle-slot {
  font-size: 10px;
  position: relative;
  height: 3.5em;
  width: 7em;
  border: 0px solid transparent;
  border-radius: 10em;
  background-color: #374151;
  transition: background-color 250ms;
}

.toggle-checkbox:checked ~ .toggle-slot {
  background-color: white;
}

.toggle-button {
  transform: translate(0.3em, 0.25em);
  position: absolute;
  height: 3em;
  width: 3em;
  border-radius: 50%;
  background-color: #485367;
  box-shadow: inset 0px 0px 0px 0.75em white;
  /* background-color: #ffeccf; */
  /* box-shadow: inset 0px 0px 0px 0.75em #ffbb52; */
  transition: background-color 250ms, border-color 250ms,
    transform 500ms cubic-bezier(0.26, 2, 0.46, 0.71);
}

.toggle-checkbox:checked ~ .toggle-slot .toggle-button {
  
  background-color: #ffeccf;
  box-shadow: inset 0px 0px 0px 0.75em #ffbb52;
  /* box-shadow: inset 0px 0px 0px 0.75em white; */
  transform: translate(3.65em, 0.25em);
}

.sun-icon {
  position: absolute;
  height: 6em;
  width: 6em;
  color: #ffbb52;
}

.sun-icon-wrapper {
  position: absolute;
  height: 6em;
  width: 6em;
  opacity: 1;
  transform: translate(2em, 2em) rotate(15deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(0.26, 2, 0.46, 0.71);
}

.toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
  opacity: 0;
  transform: translate(3em, 2em) rotate(0deg);
}

.moon-icon {
  position: absolute;
  height: 6em;
  width: 6em;
  color: white;
}

.moon-icon-wrapper {
  position: absolute;
  height: 6em;
  width: 6em;
  opacity: 0;
  transform: translate(11em, 2em) rotate(0deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(0.26, 2.5, 0.46, 0.71);
}

.toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
  opacity: 1;
  transform: translate(2em, 2em) rotate(-15deg);
}

/*--------------------------*/
.nav-toggle {
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  cursor: pointer;

  display: none;
}

/*Cuando se activa el scroll*/
.nav.active {
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.2);
  /* z-index: 1; */
}

/* .nav.active li a:hover {
  background: #20e2d7;
  color: #fff;
} */

/*--------------------------*/

.main {
  display: grid;
  place-items: center;
}

.home {
  margin-left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-attachment: scroll;
}

.home.active {
  z-index: -3;
}

.particle {
  position: absolute;
  border-radius: 50%;
  background-color: var(--background-color);
  box-shadow: 0 0 3px var(--background-color);
  animation-duration: 60s;
  animation-iteration-count: infinite;
}
.particle:nth-child(odd) {
  height: 9px;
  width: 9px;
}
.particle:nth-child(even) {
  height: 7px;
  width: 7px;
}
.particle:nth-child(1) {
  opacity: 0.46;
  animation-name: particle1;
  animation-delay: -0.2s;
  transform: translate3d(55vw, 79vh, 22px);
}
@keyframes particle1 {
  100% {
    transform: translate3d(80vw, 51vh, 9px);
  }
}

.particle:nth-child(2) {
  opacity: 0.08;
  animation-name: particle2;
  animation-delay: -0.4s;
  transform: translate3d(4vw, 21vh, 14px);
}
@keyframes particle2 {
  100% {
    transform: translate3d(31vw, 35vh, 87px);
  }
}
.particle:nth-child(3) {
  opacity: 0.41;
  animation-name: particle3;
  animation-delay: -0.6s;
  transform: translate3d(78vw, 63vh, 52px);
}
@keyframes particle3 {
  100% {
    transform: translate3d(42vw, 66vh, 40px);
  }
}

.particle:nth-child(4) {
  opacity: 0.33;
  animation-name: particle4;
  animation-delay: -8.8s;
  transform: translate3d(56vw, 32vh, 88px);
}
@keyframes particle4 {
  100% {
    transform: translate3d(78vw, 4vh, 55px);
  }
}
.particle:nth-child(5) {
  opacity: 0.4;
  animation-name: particle5;
  animation-delay: -1s;
  transform: translate3d(79, 74vh, 14px);
}
@keyframes particle5 {
  100% {
    transform: translate3d(78vw, 4vh, 55px);
  }
}
.particle:nth-child(6) {
  opacity: 0.41;
  animation-name: particle6;
  animation-delay: -1.2s;
  transform: translate3d(92vw, 27vh, 61px);
}
@keyframes particle6 {
  100% {
    transform: translate3d(80vw, 35vh, 11px);
  }
}

.particle:nth-child(7) {
  opacity: 0.74;
  animation-name: particle7;
  animation-delay: -1.4s;
  transform: translate3d(55vw, 65vh, 75px);
}

@keyframes particle7 {
  100% {
    transform: translate3d(30vw, 15vh, 59px);
  }
}

.particle:nth-child(8) {
  opacity: 0.09;
  animation-name: particles8;
  animation-delay: -1.6s;
  transform: translate3d(10vw, 10vh, 55px);
}
@keyframes particle8 {
  100% {
    transform: translate3d(30vw, 64vh, 91px);
  }
}
.particle:nth-child(14) {
  opacity: 0.98;
  animation-name: particle14;
  animation-delay: -2.8s;
  transform: translate3d(3vw, 73vh, 11px);
}
@keyframes particle14 {
  100% {
    transform: translate3d(45vw, 46vh, 28px);
  }
}
.particle:nth-child(15) {
  opacity: 0.69;
  animation-name: particle15;
  animation-delay: -3s;
  transform: translate3d(86vw, 82vh, 49px);
}
@keyframes particle15 {
  100% {
    transform: translate3d(16vw, 31vh, 36px);
  }
}

.titulo {
  display: grid;
  place-items: center;
  margin-top: 50px;
  height: 35%;
  width: 500px;
}

.titulo h1 {
  font-size: 45px;
}

/*-----Escritura-automatica----------*/
.text-animation {
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
  margin-left: 32px;
  align-self: flex-start;
  justify-self: flex-start;
}
.text-animation span {
  position: relative;
}
.text-animation span::before {
  content: "Web Developer";
  color: var(--main-color);
  animation: words 20s infinite;
}
.text-animation span::after {
  content: "";
  background-color: var(--bg-color);
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid var(--bg-color);
  right: -8px;
  animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to {
    border-left: 2px solid var(--main-color);
  }
}
@keyframes words {
  0%,
  20% {
    content: "Frontend Designer";
  }
  21%,
  40% {
    content: "Backend Developer";
  }
  41%,
  60% {
    content: "UI Designer";
  }
  61%,
  80% {
    content: "Web Developer";
  }
  81%,
  100% {
    content: "Software Tester";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}

.titulo p {
  margin-top: 30px;
}

.links-perfil {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-shadow: 0 0 8px var(--background-color), 0 0 25px var(--background-color),
    0 0 40px #f3f3f39d; */
}

.links-perfil a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
}
.github {
  padding: 0px 5px;
  padding-top: 4px;
  border-radius: 3px;
  font-weight: 100;
  background-color: var(--github-background);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.github:hover {
  background-color: #6c757d;
  box-shadow: 0px 15px 20px rgba(248, 249, 250, 0.455);
  transform: translateY(-7px);
}

.github:active {
  transform: translateY(-1px);
}

.linkedin {
  background-color: var(--linkedin-background);
  padding: 0px 6px;
  padding-top: 3px;
  border-radius: 3px;
  text-transform: uppercase;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.linkedin:hover {
  background-color: #2374c4;
  box-shadow: 0px 15px 20px rgba(46, 153, 229, 0.4);
  transform: translateY(-7px);
}

.linkedin:active {
  transform: translateY(-1px);
}

.cv {
  background-color: var(--cv-background);
  padding: 4px 7px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.cv a{
  font-size: 18px;
}

.cv:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  transform: translateY(-7px);
}

.cv:active {
  transform: translateY(-1px);
}

#projects {
  height: 1250px;
}

.section {
  /*Esto es para todos los titulos*/
  text-align: center;
  font-size: 40px;
  padding: 20px 0px;
  margin: 50px 0px;
  color: var(--main-color);
}

.projects {
  padding: 0px 15%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px 50px;
}

.card {
  font-size: 12px;
  width: 30%; /*Espacio dentro del container*/
  /* width: 450px; Para que este fijo pero no es lindo*/
  height: 280px;
  /*min-width: 400px;ES LO MAS IMPORTANTE QUE ISE*/
  padding: 20px;
  display: flex; /*elimina los puntos y da forma en vertical*/
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: var(--background2-color);
  border-radius: 20px;
  border: 1px solid rgba(24, 24, 24, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.picture {
  width: 90%;
  gap: 15px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picture img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.description h2 {
  color: var(--main-color);
}

.card ul a {
  margin: 5px;
  padding: 4px 13px;
  border: 2px solid var(--background-color);
  border-radius: 50px;
  cursor: pointer;
  font-size: 14px;
  color: var(--background-color);
}

.card ul a:hover {
  background-color: var(--background-color);
  color: #0f0909;
}

/* ----------------- */

.responsive {
  display: none;
}

.skills {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 10%;
}

.format {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.skills-text {
  margin-top: 15px;
  font-size: 15px;
  width:30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.text-separation{
  display: grid;
  gap: 10px;
}

@media (max-width: 1015px) {
  .skills-text {
    width:55%;
  }
}


.habilidades {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-list {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skills-list li {
  margin: 4%;
}

.icon img {
  height: 40px;
  object-fit: cover;
}

/*-----------------------------------------------------*/

.contact {
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px 15%;
}

.format-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 300px;
}


.referenced {
  width: 45%;
}
.referenced h2 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin-bottom: 40px;
}

.contact-form {
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  background: var(--background2-color);
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 40%;

  display: flex;
  flex-direction: column;
  padding: 0px 2%;
  justify-content: center;
}

.contact-form p input {
  margin: 2px;
  border: 0;
  outline: none;
  background: transparent;
  border-bottom: 1px solid var(--background-color);
  color: var(--color-second);
  padding: 3px;
}

.contact-form p textarea {
  margin: 2px;
  border: 0;
  outline: none;
  background: transparent;
  border-bottom: 1px solid var(--background-color);
  color: var(--color-second);
  padding: 3px;
}

.button-form {
  color: var(--color-primary);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.283)
  );
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: 40px;
  width: 150px;
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.button-form:hover {
  color: #0f0909;
  background-color: #f1ebeb;
}

.contact-form p {
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

.contacts {
  gap: 20px;
  display: flex;
  font-size: 27px;
}

.contact a {
  color: var(--color-primary);
}

#toggle {
  display: none;
}

.row {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  height: 50px;
  width: 50px;
}

@media (max-width: 760px) {
  /*-------------------Home-------------------*/
  .home {
    z-index: -3;
  }

  /*-------------------Portafolio-------------------*/

  .titulo {
    width: 90%;
    margin-top: 100px;
  }

  .text-animation {
    align-self: auto;
    justify-self: auto;
  }

  .text-animation span {
    margin-left: 5px;
  }

  .titulo h1 {
    font-size: 40px;
  }

  .titulo h3 {
    display: flex;
    font-size: 26px;
  }

  .projects {
    padding: 0px 10%;
    gap: 10px;
    display: grid;
    place-items: center;
    height: 1600px;
  }

  .card {
    justify-content: flex-start;
    font-size: 11px;
    width: 80%;
    height: 210px;
  }

  .picture {
    margin-top: 10px;
    width: 60%;
    height: 130px;
  }

  /*-------------------skills-------------------*/

  .responsive {
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-top: 50px;
    padding: 30px 0;
  }

  .no-responsive {
    display: none;
  }

  .skills {
    margin-top: 600px;
    height: 750px;
    padding: 0px 30px;
  }

  .format {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .skills-text {
    padding: 0px 10%;
    font-size: 14px;
    width: 90%;
  }

  .habilidades {
    margin-top: 60px;
    width: 90%;
  }
  .skills-list li {
    display: flex;
    gap: 20px;
  }

  .icon img {
    height: 40px;
  }

  /*-------------------contact-------------------*/

  .contact {
    margin-top: 60px;
    height: 700px;
  }

  .format-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
  }
  .contact-form {
    width: 90%;
    margin-bottom: 30px;
  }

  .referenced {
    margin-left: 0px !important;
    width: 90%;
    font-size: 13px;
  }

  .button-form {
    width: 90%;
  }

  footer {
    height: 5vh !important;
  }
}
