@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

:root {
  --color-primary: #090a0f;
  --color-second: #090a0f;
  --bg-color: #f0ead2;
  --main-color: #f77f00;
  --background-color: #f77f00;
  --background2-color: #ffe9a6;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Oxygen", sans-serif;
  /* font-family: "Varela Round", sans-serif; */
}

html {
  scroll-behavior: smooth;
}

.dark-mode {
  background-color: #090a0f;
  --color-primary: #fff;
  --color-second: #fff;
  --main-color: #00ffee;
  --background-color: #00ffee;
  --background2-color: rgba(255, 255, 255, 0.1);
  --bg-color: #090a0f;
  color: #f1ebeb;
}

body {
  background-color: #f0ead2;
}

.nav {
  background-color: var(--background2-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  transition: all 0.5s ease;
  position: fixed;
  height: 55px;
  width: 100%;
}

.img {
  display: flex;
  align-items: center;
}

.imagen-perfil {
  height: 40px;
  width: 40px;
  border-radius: 25px;
}

.nav-links li a {
  text-decoration: none;
  animation: tracking-in-expand-forward-top 0.4s linear both;
}
@keyframes tracking-in-expand-forward-top {
  0% {
    letter-spacing: -0.2em;
    transform: translateZ(-700px) translateY(-100px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

.nav-links {
  list-style-type: none; /*Esto elimina el punto*/
  margin-left: 10%;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  border-radius: 4px;
  color: var(--color-primary);
  text-decoration: none;
  font-weight: bold;
  transition: all 0.5s ease;
}

.nav-links li a:hover {
  background-color: var(--background-color);
  box-shadow: 0 0 10px var(--background-color), 0 0 20px var(--background-color),
    0 0 20px var(--background-color);
  color: #434343;
}

.dynamic {
  margin-right: 10%;
  display: grid;
  place-items: center;
}

/*--------Boton-Modo-Dark------------*/
#theme-toggle-button {
  font-size: 10px;
  position: relative;
  display: inline-block;
  width: 7em;
  cursor: pointer;
}

#toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

#container,
#patches,
#stars,
#button,
#sun,
#moon,
#cloud {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.25s;
}

#toggle:checked + svg #container {
  fill: #2b4360;
}

#toggle:checked + svg #button {
  transform: translate(28px, 2.333px);
}

#sun {
  opacity: 1;
}

#toggle:checked + svg #sun {
  opacity: 0;
}

#moon {
  opacity: 0;
}

#toggle:checked + svg #moon {
  opacity: 1;
}

#cloud {
  opacity: 1;
}

#toggle:checked + svg #cloud {
  opacity: 0;
}

#stars {
  opacity: 0;
}

#toggle:checked + svg #stars {
  opacity: 1;
}

/*--------------------------*/
.nav-toggle {
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  cursor: pointer;

  display: none;
}

/*Cuando se activa el scroll*/
.nav.active {
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.2);
}

/* .nav.active li a:hover {
  background: #20e2d7;
  color: #fff;
} */

/*--------------------------*/

.main {
  display: grid;
  place-items: center;
}

.home {
  margin-left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  /* background: linear-gradient(
    rgba(5, 7, 12, 0.75),
    rgba(5, 7, 12, 0.75),
    #090a0f 100%,
    transparent
  ); */
  /* url(./public/img/montana.jpg) no-repeat center center fixed; */
  background-size: cover;
  background-attachment: scroll;
  z-index: -3;
}

.particle {
  position: absolute;
  border-radius: 50%;
  background-color: var(--background-color);
  box-shadow: 0 0 3px var(--background-color);
  animation-duration: 60s;
  animation-iteration-count: infinite;
}
.particle:nth-child(odd) {
  height: 9px;
  width: 9px;
}
.particle:nth-child(even) {
  height: 7px;
  width: 7px;
}
.particle:nth-child(1) {
  opacity: 0.46;
  animation-name: particle1;
  animation-delay: -0.2s;
  transform: translate3d(55vw, 79vh, 22px);
}
@keyframes particle1 {
  100% {
    transform: translate3d(80vw, 51vh, 9px);
  }
}

.particle:nth-child(2) {
  opacity: 0.08;
  animation-name: particle2;
  animation-delay: -0.4s;
  transform: translate3d(4vw, 21vh, 14px);
}
@keyframes particle2 {
  100% {
    transform: translate3d(31vw, 35vh, 87px);
  }
}
.particle:nth-child(3) {
  opacity: 0.41;
  animation-name: particle3;
  animation-delay: -0.6s;
  transform: translate3d(78vw, 63vh, 52px);
}
@keyframes particle3 {
  100% {
    transform: translate3d(42vw, 66vh, 40px);
  }
}

.particle:nth-child(4) {
  opacity: 0.33;
  animation-name: particle4;
  animation-delay: -8.8s;
  transform: translate3d(56vw, 32vh, 88px);
}
@keyframes particle4 {
  100% {
    transform: translate3d(78vw, 4vh, 55px);
  }
}
.particle:nth-child(5) {
  opacity: 0.4;
  animation-name: particle5;
  animation-delay: -1s;
  transform: translate3d(79, 74vh, 14px);
}
@keyframes particle5 {
  100% {
    transform: translate3d(78vw, 4vh, 55px);
  }
}
.particle:nth-child(6) {
  opacity: 0.41;
  animation-name: particle6;
  animation-delay: -1.2s;
  transform: translate3d(92vw, 27vh, 61px);
}
@keyframes particle6 {
  100% {
    transform: translate3d(80vw, 35vh, 11px);
  }
}

.particle:nth-child(7) {
  opacity: 0.74;
  animation-name: particle7;
  animation-delay: -1.4s;
  transform: translate3d(55vw, 65vh, 75px);
}

@keyframes particle7 {
  100% {
    transform: translate3d(30vw, 15vh, 59px);
  }
}

.particle:nth-child(8) {
  opacity: 0.09;
  animation-name: particles8;
  animation-delay: -1.6s;
  transform: translate3d(10vw, 10vh, 55px);
}
@keyframes particle8 {
  100% {
    transform: translate3d(30vw, 64vh, 91px);
  }
}
.particle:nth-child(14) {
  opacity: 0.98;
  animation-name: particle14;
  animation-delay: -2.8s;
  transform: translate3d(3vw, 73vh, 11px);
}
@keyframes particle14 {
  100% {
    transform: translate3d(45vw, 46vh, 28px);
  }
}
.particle:nth-child(15) {
  opacity: 0.69;
  animation-name: particle15;
  animation-delay: -3s;
  transform: translate3d(86vw, 82vh, 49px);
}
@keyframes particle15 {
  100% {
    transform: translate3d(16vw, 31vh, 36px);
  }
}
/* img {
  mask-image: linear-gradient(black 80%, transparent);
} */

.titulo {
  /* background-color: #0b7dda; */
  display: grid;
  place-items: center;
  height: 30%;
  padding: 11%;
}

.titulo h1 {
  font-size: 45px;
  /* font-family: "Oxygen", sans-serif; */
  /* font-size: 32px; */
}

/*-----Escritura-automatica----------*/
.text-animation {
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
}
.text-animation span {
  position: relative;
}
.text-animation span::before {
  content: "Web Developer";
  color: var(--main-color);
  animation: words 20s infinite;
}
.text-animation span::after {
  content: "";
  background-color: var(--bg-color);
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid var(--bg-color);
  right: -8px;
  animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to {
    border-left: 2px solid var(--main-color);
  }
}
@keyframes words {
  0%,
  20% {
    content: "Frontend Designer";
  }
  21%,
  40% {
    content: "Web Designer";
  }
  41%,
  60% {
    content: "UI / UX Designer";
  }
  61%,
  80% {
    content: "Web Developer";
  }
  81%,
  100% {
    content: "Software Tester";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}

.links-perfil {
  margin-top: 15px;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0 8px var(--background-color), 0 0 25px var(--background-color),
    0 0 40px #f3f3f39d;
}

.links-perfil a {
  font-size: 23px;
  color: var(--color-primary);
}

.github {
  animation: parpadear 5s infinite backwards steps(3);
}

.linkedin {
  animation: parpadear 7.5s infinite backwards steps(4);
}

.cv {
  text-decoration: none;
  animation: parpadear 5.5s infinite backwards steps(2);
}

@keyframes parpadear {
  to {
    color: gray;
    text-shadow: none;
  }
}

#projects {
  height: 1250px;
}

.section {
  /*Esto es para todos los titulos*/
  text-align: center;
  font-size: 40px;
  padding: 20px 0px;
  margin: 50px 0px;
  color: var(--main-color);
}

.projects {
  padding: 0px 15%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px 50px;
}

.card {
  font-size: 12px;
  width: 30%; /*Espacio dentro del container*/
  /* width: 450px; Para que este fijo pero no es lindo*/
  height: 280px;
  /*min-width: 400px;ES LO MAS IMPORTANTE QUE ISE*/
  padding: 20px;
  display: flex; /*elimina los puntos y da forma en vertical*/
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: var(--background2-color);
  /* background: linear-gradient(
    120deg,
    rgba(246, 131, 8, 0.1),
    rgba(255, 255, 255, 0.131)
  ); */
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(24, 24, 24, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.picture {
  width: 90%;
  height: 175px;

  gap: 15px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picture img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 300px;
}

.description {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.description h2 {
  color: var(--main-color);
}

.card ul a {
  margin: 5px;
  padding: 4px 13px;
  /* background: var(--background-color); */
  border: 2px solid var(--background-color);
  border-radius: 50px;
  cursor: pointer;
  font-size: 14px;
  color: var(--background-color);
}

/* ----------------- */

.responsive {
  display: none;
}

.skills {
  height: 100vh;
  /* padding-top: 60px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  padding: 0px 15%;
}

.format {
  margin-top: 65px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.skills-text {
  font-size: 14px;
  width: 30%;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.habilidades {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.skills-list {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skills-list li {
  margin: 4%;
}

.icon img {
  height: 40px;
  object-fit: cover;
}

/*-----------------------------------------------------*/

.format-contact {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}

.contact {
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0px 15%;
}

.referenced {
  margin-left: 40px;
  width: 50%;
  height: 350px;
  padding: 0px 15px;
}
.referenced h2 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin-bottom: 40px;
  /* border: 3px solid red; */
}

.contact-form {
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  background: var(--background2-color);
  border: 1px solid rgba(255, 255, 255, 0.18);
  /* border: 3px solid rgba(14, 147, 224, 0.5); */
  width: 40%;
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 0px 2%;
  justify-content: center;
}

.contact-form p input {
  margin: 2px;
  border: 0;
  outline: none;
  background: transparent;
  border-bottom: 1px solid var(--background-color);
  color: var(--color-second);
  padding: 3px;
}

.contact-form p textarea {
  margin: 2px;
  border: 0;
  outline: none;
  background: transparent;
  border-bottom: 1px solid var(--background-color);
  color: var(--color-second);
  padding: 3px;
}

.button-form {
  color: var(--color-primary);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.283)
  );
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: 40px;
  width: 150px;
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.button-form:hover {
  color: #0f0909;
  background-color: #f1ebeb;
}

.contact-form p {
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

.contacts {
  gap: 20px;
  display: flex;
  font-size: 27px;
}

.contact a {
  color: var(--color-primary);
}

#toggle {
  display: none;
}

/*alsjdl*/
.row {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  height: 50px;
  width: 50px;
}

@media (max-width: 760px) {
  /*-------------------Home-------------------*/
  

  /*-------------------Portafolio-------------------*/

  .titulo {
    width: 90%;
  }

  .titulo h2 {
    display: flex;
    justify-content: center;
    font-size: 22px;
  }

  .projects {
    padding: 0px 10%;
    gap: 10px;
    display: grid;
    place-items: center;
  }

  .card {
    justify-content: flex-start;
    font-size: 11px;
    width: 80%;
    height: 185px;
  }

  .picture {
    margin-top: 10px;
    width: 60%;
    height: 130px;
  }

  /*-------------------skills-------------------*/

  .responsive {
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-top: 50px;
    padding: 30px 0;
  }

  .no-responsive {
    display: none;
  }

  .skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 1100px;
    padding: 0px 30px;
  }

  .skills-text {
    justify-content: center;
    margin-top: 200px;
    font-size: 14px;
    width: 80%;
  }

  .habilidades {
    margin-top: 80px;
    height: 60%;
    width: 90%;
  }
  .skills-list li {
    display: flex;
    gap: 20px;
  }

  .icon img {
    height: 40px;
  }

  /*-------------------contact-------------------*/

  .contact {
    height: 700px;
  }

  .format-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contact-form {
    width: 90%;
    margin-bottom: 30px;
  }

  .referenced {
    margin-left: 0px !important;
    width: 90%;
    font-size: 13px;
  }

  .button-form {
    width: 90%;
  }

  footer {
    height: 5vh !important;
  }
}
