@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

:root {
  --color-primary: #090a0f;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Oxygen", sans-serif;
  /* font-family: "Varela Round", sans-serif; */
}

html {
  scroll-behavior: smooth;
}

.dark-mode {
  background-color: #090a0f;
  transition: all 1.1s ease;
  --color-primary: #fff;
  --color-second: #090a0f4e;
  color: #f1ebeb;
}

body {
  /* transition: all 1.1s ease; */
  background-color: #f0ead2;
}

.nav {
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 18px;
  transition: all 0.5s ease;
  position: fixed;
  height: 55px;
  width: 100%;
}

.img {
  display: flex;
  align-items: center;
}

.imagen-perfil {
  height: 40px;
  width: 40px;
}

.nav-links li a {
  text-decoration: none;
  animation: tracking-in-expand-forward-top 0.4s linear both;
}
@keyframes tracking-in-expand-forward-top {
  0% {
    letter-spacing: -0.2em;
    transform: translateZ(-700px) translateY(-100px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

.nav-links {
  list-style-type: none; /*Esto elimina el punto*/
  margin-left: 10%;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: bold;
  transition: all 0.5s ease;
}

.nav-links li a:hover {
  padding: 5px 10px;
  background: #d62828;
  border-radius: 12px;
}

.dynamic {
  display: flex;
  margin-right: 10%;
  align-items: center;
}

/* .contact-button {
  padding: 0px 15px;
  font-size: 1em;
  border-radius: 10px;
  border: 3px solid #0001;
  background: #2c628f;
  animation: wobble-horizontal-bottom 0.8s linear both;
}
.contact-button a {
  color: var(--color-primary);
  text-decoration: none;
}

.contact-button:hover {
  background: #0b7dda;
} */

/*--------------------------*/
.nav-toggle {
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  cursor: pointer;

  display: none;
}

/*Cuando se activa el scroll*/
.nav.active {
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.2);
}

.nav.active li a:hover {
  background: #d62828;
  color: #fff;
}

/*--------------------------*/

.main {
  display: grid;
  place-items: center;
}

.home {
  margin-left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background: linear-gradient(
      rgba(5, 7, 12, 0.75),
      rgba(5, 7, 12, 0.75),
      #090a0f 100%,
      transparent
    ),
    url(./public/img/montana.jpg) no-repeat center center fixed;
  background-size: cover;
  background-attachment: scroll;
  z-index: -3;
}

.bg:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #000;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0.3;
}
@keyframes sf-fly-by-1 {
  from {
    transform: translateZ(-600px);
    opacity: 0.5;
  }
  to {
    transform: translateZ(0);
    opacity: 0.5;
  }
}
@keyframes sf-fly-by-2 {
  from {
    transform: translateZ(-1200px);
    opacity: 0.5;
  }
  to {
    transform: translateZ(-600px);
    opacity: 0.5;
  }
}
@keyframes sf-fly-by-3 {
  from {
    transform: translateZ(-1800px);
    opacity: 0.5;
  }
  to {
    transform: translateZ(-1200px);
    opacity: 0.5;
  }
}
.star-field {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  perspective: 600px;
  -webkit-perspective: 600px;
  z-index: -1;
}
.star-field .layer {
  box-shadow: -411px -476px #cccccc, 777px -407px #d4d4d4, -387px -477px #fcfcfc,
    -91px -235px #d4d4d4, 491px -460px #f7f7f7, 892px -128px #f7f7f7,
    758px -277px #ededed, 596px 378px #cccccc, 647px 423px whitesmoke,
    183px 389px #c7c7c7, 524px -237px #f0f0f0, 679px -535px #e3e3e3,
    158px 399px #ededed, 157px 249px #ededed, 81px -450px #ebebeb,
    719px -360px #c2c2c2, -499px 473px #e8e8e8, -158px -349px #d4d4d4,
    870px -134px #cfcfcf, 446px 404px #c2c2c2, 440px 490px #d4d4d4,
    414px 507px #e6e6e6, -12px 246px #fcfcfc, -384px 369px #e3e3e3,
    641px -413px #fcfcfc, 822px 516px #dbdbdb, 449px 132px #c2c2c2,
    727px 146px #f7f7f7, -315px -488px #e6e6e6, 952px -70px #e3e3e3,
    -869px -29px #dbdbdb, 502px 80px #dedede, 764px 342px #e0e0e0,
    -150px -380px #dbdbdb, 654px -426px #e3e3e3, -325px -263px #c2c2c2,
    755px -447px #c7c7c7, 729px -177px #c2c2c2, -682px -391px #e6e6e6,
    554px -176px #ededed, -85px -428px #d9d9d9, 714px 55px #e8e8e8,
    359px -285px #cfcfcf, -362px -508px #dedede, 468px -265px #fcfcfc,
    74px -500px #c7c7c7, -514px 383px #dbdbdb, 730px -92px #cfcfcf,
    -112px 287px #c9c9c9, -853px 79px #d6d6d6, 828px 475px #d6d6d6,
    -681px 13px #fafafa, -176px 209px #f0f0f0, 758px 457px #fafafa,
    -383px -454px #ededed, 813px 179px #d1d1d1, 608px 98px whitesmoke,
    -860px -65px #c4c4c4, -572px 272px #f7f7f7, 459px 533px #fcfcfc,
    624px -481px #e6e6e6, 790px 477px #dedede, 731px -403px #ededed,
    70px -534px #cccccc, -23px 510px #cfcfcf, -652px -237px whitesmoke,
    -690px 367px #d1d1d1, 810px 536px #d1d1d1, 774px 293px #c9c9c9,
    -362px 97px #c2c2c2, 563px 47px #dedede, 313px 475px #e0e0e0,
    839px -491px #e3e3e3, -217px 377px #d4d4d4, -581px 239px #c2c2c2,
    -857px 72px #cccccc, -23px 340px #dedede, -837px 246px white,
    170px -502px #cfcfcf, 822px -443px #e0e0e0, 795px 497px #e0e0e0,
    -814px -337px #cfcfcf, 206px -339px #f2f2f2, -779px 108px #e6e6e6,
    808px 2px #d4d4d4, 665px 41px #d4d4d4, -564px 64px #cccccc,
    -380px 74px #cfcfcf, -369px -60px #f7f7f7, 47px -495px #e3e3e3,
    -383px 368px #f7f7f7, 419px 288px #d1d1d1, -598px -50px #c2c2c2,
    -833px 187px #c4c4c4, 378px 325px whitesmoke, -703px 375px #d6d6d6,
    392px 520px #d9d9d9, -492px -60px #c4c4c4, 759px 288px #ebebeb,
    98px -412px #c4c4c4, -911px -277px #c9c9c9;
  transform-style: preserve-3d;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 4px;
  width: 4px;
  border-radius: 2px;
}
.star-field .layer:nth-child(1) {
  animation: sf-fly-by-1 5s linear infinite;
}
.star-field .layer:nth-child(2) {
  animation: sf-fly-by-2 5s linear infinite;
}
.star-field .layer:nth-child(3) {
  animation: sf-fly-by-3 5s linear infinite;
}


/* img {
  mask-image: linear-gradient(black 80%, transparent);
} */

.titulo {
  /* background-color: #0b7dda; */
  display: grid;
  place-items: center;
  height: 30%;
  padding: 11%;
}

.titulo h1 {
  font-size: 45px;
  /* font-family: "Oxygen", sans-serif; */
  /* font-size: 32px; */
}

.links-perfil {
  margin-top: 15px;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0 8px #fff, 0 0 25px #fff, 0 0 40px #f3f3f39d;
}

.links-perfil a {
  font-size: 25px;
  color: #f1ebeb;
}

.github {
  animation: parpadear 5s infinite backwards steps(3);
}

.linkedin {
  animation: parpadear 7.5s infinite backwards steps(4);
}

.cv {
  text-decoration: none;
  animation: parpadear 5.5s infinite backwards steps(2);
}

@keyframes parpadear {
  to {
    color: gray;
    text-shadow: none;
  }
}

#projects {
  height: 1250px;
}

.section {
  /*Esto es para todos los titulos*/
  text-align: center;
  font-size: 40px;
  padding: 20px 0px;
  margin: 50px 0px;
  color: #ee964b;
}

.projects {
  padding: 0px 15%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px 50px;
}

.card {
  font-size: 12px;
  width: 30%; /*Espacio dentro del container*/
  /* width: 450px; Para que este fijo pero no es lindo*/
  height: 280px;
  /*min-width: 400px;ES LO MAS IMPORTANTE QUE ISE*/
  padding: 20px;
  display: flex; /*elimina los puntos y da forma en vertical*/
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  background: linear-gradient(
    120deg,
    rgba(10, 74, 142, 0.881),
    rgba(209, 99, 20, 0.848)
  );
  /* backdrop-filter: blur(10px); */
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.picture {
  width: 90%;
  height: 175px;
  /* background: green; */

  gap: 15px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 300px;
}

.description {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.description h2 {
  color: #f77f00;
}

.card ul a {
  margin: 5px;
  padding: 4px 13px;
  background: #f77f00;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 14px;
  color: #090a0f;
}

/* ----------------- */

/* .responsive {
  display: none;
}

.no-responsive {
  text-align: center;
  font-size: 40px;
  padding: 20px 0px;
} */

/* .skills h1 {
  margin: 100px 0px;
} */

.skills {
  height: 100vh;
  /* padding-top: 60px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  padding: 0px 15%;
}

.format {
  margin-top: 65px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.skills-text {
  font-size: 14px;
  width: 30%;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.habilidades {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.skills-list {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skills-list li {
  margin: 4%;
}

.icon img {
  height: 40px;
  object-fit: cover;
}

/*-----------------------------------------------------*/

.format-contact {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}

.contact {
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0px 15%;
}

.referenced {
  margin-left: 40px;
  width: 50%;
  height: 350px;
  padding: 0px 15px;
}
.referenced h2 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin-bottom: 40px;
  /* border: 3px solid red; */
}

.contact-form {
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  border: 1px solid rgba(255, 255, 255, 0.18);
  /* border: 3px solid rgba(14, 147, 224, 0.5); */
  width: 40%;
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 0px 2%;
  justify-content: center;
}

.contact-form p input {
  margin: 2px;
  border: 2px solid #5f7470;
  /* background: #eae2b7; */
  color: #0f0909;
  border-radius: 3px;
  padding: 3px;
}

.contact-form p textarea {
  margin: 2px;
  border-radius: 3px;
  border: 2px solid #5f7470;
  /* background: #eae2b7; */
  color: #0f0909;
  padding: 3px;
}

.button-form {
  color: var(--color-primary);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.283)
  );
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: 40px;
  width: 150px;
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.button-form:hover {
  color: #0f0909;
  background-color: #f1ebeb;
}

.contact-form p {
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

.contacts {
  gap: 20px;
  display: flex;
  font-size: 27px;
}

#toggle {
  display: none;
}
#label_toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 30px;
  color: yellow;
}
/*alsjdl*/
.row {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  height: 50px;
  width: 50px;
}

/* span {
  margin: -4px;
  width: 5px;
  height: 20px;
  background-color: #fff;
  border-radius: 5px;
  animation: move 1.1s infinite ease-in-out;
} */
span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotate(-45deg);
}
span:nth-of-type(2) {
  transform-origin: bottom;
  transform: rotate(45deg);
}
@keyframes move {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0;
  }
}

.label-check {
  width: 73px;
  height: 33px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 25px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  /* transition: 1s; No sirve*/
}

.label-check:after {
  content: "";
  width: 30px;
  height: 27px;
  position: absolute;
  top: 3px;
  left: 3px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 1s;
}

.input-check {
  width: 0;
  height: 0;
  visibility: hidden;
}

.input-check:checked + .label-check {
  background: #242424;
}

.input-check:checked + .label-check:after {
  left: 70px;
  transform: translate(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}
.label-check:active:after {
  width: 30px;
}

.label-check .fa-sun {
  position: absolute;
  margin-left: 8px;
  width: 10px;
  top: 8px;
  z-index: 10;
}

.label-check .fa-moon {
  position: absolute;
  margin-left: 48px;
  width: 10px;
  top: 8px;
  z-index: 10;
}