@media (max-width: 760px) {
  /*-------------------Home-------------------*/
  .nav {
    /*position: relative;  Añade esta línea */
    padding: 10px 15px;
    height: 50px;
  }

  .nav-links {
    flex-direction: column;
    background: var(--bg-color);
    align-items: center;
    position: fixed;
    right: 0;
    top: 65px;
    width: 100%;
    padding: 20px 0px;

    height: calc(100% - 50px);
    overflow-y: auto;

    right: 100%;
    transition: right 0.3s;
  }

  .nav-links li {
    line-height: 70px;
  }

  .nav-links li a:hover,
  .nav-link-active {
    /* background: var(--background-color); */
    color: var(--bg-color);
  }

  .nav-toggle {
    color: var(--color-primary);
    display: block;
  }

  .nav-menu_visible {
    /* left: 0; */
    right: 0;
  }

  .nav.active {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.2);
    padding: 10px 15px;
  }

  .nav.active .nav-links {
    height: 800px;
    color: #fff;
  }

  .nav.active .nav-links li a:hover {
    background: var(--background-color);
    color: var(--bg-color);
  }
}
